
<div class="container">
<h1><%= @user.email %>'s profile </h1>
</div>
  <div class="row">
<% @user.photos.each  do |photo|  %>
    <div class="col-md-2">
      <%= image_tag photo.image.url %>
      <%= link_to "Delete", user_photo_path(@user, photo),
      :data => {:confirm => "Do you really want to delete this masterpiece?",
      :method => "delete"} %>
    </div>
<% end %>
</div>

<%= @user.photos.count %>


<%= link_to 'Add Photo', new_user_photo_path(@user) %>
